body{
    font-family     : sans-serif;
    background-color: #64788C;
}

nav{
    font-family: Monospace;
}

th, td{
    text-align: center;
}

tr, td{
    background-color: white;
}

#linguagens{
    float: left;
}

#bancoDeDados{
    float: left;
}

#sistemasOperacionais{
    float: left;
}